:global {
  @import 'base';
  @import '~normalize.css/normalize';

  // Some best-practice CSS that's useful for most apps
  // Just remove them if they're not what you want
  html {
    box-sizing: border-box;
  }

  html,
  body {
    margin: 0;
    padding: 0;
    height: 100%;
  }

  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  h1 {
    text-align: center;
  }

  pre {
    overflow-x: scroll;
    padding: 1rem;
    margin-bottom: 1.25rem;
    font-size: .8125rem;
    code {
        font-family: Menlo, Monaco, Consolas, Courier New, monospace !important;
        > span {
          color: #93a1a1;
        }
      }
  }
}
