:global {
  @import 'base';
  @import '~normalize.css/normalize';

  // Some best-practice CSS that's useful for most apps
  // Just remove them if they're not what you want
  html {
    box-sizing: border-box;
  }

  html,
  body {
    margin: 0;
    padding: 0;
    height: 100%;
  }

  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  h1 {
    margin: 3rem 0 1.75rem 0;
  }
  h2 {
    margin: 3rem 0 1.5rem 0;
  }
  h3 {
    margin: 3rem 0 1.25rem 0;
  }
  p {
    margin: 0 0 1.5rem 0;
    line-height: 1.7;
    > code {
      padding: 2px 4px;
      background-color: #f6f6f6;
      color: #657b83;
      font-size: .75rem;
      white-space: pre-wrap;
      border-radius: 4px;
    }
  }
  a {
    color: #3194d0;
    outline: none;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  ul {
    margin: 0 0 1rem 0;
  }
  li {
    margin: 0 0 .625rem 0;
  }

  pre {
    overflow-x: scroll;
    padding: 1rem;
    margin-bottom: 1.25rem;
    font-size: .8125rem;
    border: 1px solid #ccc;
    background-color: #f6f6f6;
    color: #657b83;
    code {
      font-family: Menlo, Monaco, Consolas, Courier New, monospace !important;
      > span {
        color: #93a1a1;
      }
    }
  }
  blockquote {
    padding: 1.25rem;
    margin: 0 0 1.5rem;
    background-color: #f7f7f7;
    border-left: 6px solid #b4b4b4;
    font-size: 1rem;
    line-height: 1.875rem;
    > p {
      margin: 0;
    }
  }

  @media($small) {
    h1, h2, h3 {
      text-align: center;
    }
  }
}
